<!DOCTYPE html>
<html>

<head>
  {{> meta}}
</head>

<body>
  {{> header}}
  {{> intro}}
  <main>
    <section class="intro container">
      {{{content}}}
    </section>
  </main>
  {{> footer}}
</body>

</html>
