<header>
  <nav class="container">
    <a href="/" class="logo">Renz Pulvira</a>
    <ul>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Photographs</a></li>
      <li><a href="#">Contact Me</a></li>
    </ul>
  </nav>
</header>

