<section class="intro container">
  <div class="image">
    <img src="http://placehold.it/400x400" alt="Placeholder image">
  </div>
  <div class="content">
    <h1>Welcome to my digital space</h1>
    <p>I’m Renz Pulvira, I’m a software developer in the Philippines. I like taking film photographs and making keyboards from scratch.<p>
    <div class="intro__button-group">
      <a href="#" class="button">About Me</a>
      <a href="#" class="button">Github</a>
    </div>
  </div>
</section>
